.step {
  width: 900px;
  height: 450px;
  padding: 40px;
  background-color: #F0F0F0;
  box-shadow: 10px 10px 5px #D8D8D8;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.centeredcontent {
  position: absolute;
  top: 50%;
  margin-top: -5em;
  width: 100%;
  left: 0%;
  text-align: center;
}

