.step {
  width: 900px;
  height: 450px;
  font-family: 'Josefin Sans', sans-serif;
}
.slide{
  padding: 40px;
  background-color: #F0F0F0;
  box-shadow: 10px 10px 5px #D8D8D8;
  border-radius: 20px;
}
.centeredcontent {
  position: absolute;
  top: 50%;
  margin-top: -5em;
  width: 100%;
  left: 0%;
  text-align: center;
}

.question {
 background-color:rgba(0,0,0,0.7);
 color:white;
 font-size: 3em;
 margin: 1em; 
 padding: 1em;
 height: 3em;
}

