
body {
  padding: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.emph {
    color: #87CEFA;

}

.enter {
  fill: green;
}
.update {
  fill: maroon;
}
.exit {
  fill: steelblue;
}
a {
  color: #00B7FF;
}
