
body {
    padding: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.intro2 {
    -webkit-animation: fadein;
    -moz-animation: fadein;
    -ms-animation: fadein;
    -o-animation: fadein;
    animation: fadein;

    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    
    -webkit-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 30%;

}

.content {
    -webkit-animation: fadein;
    -moz-animation: fadein;
    -ms-animation: fadein;
    -o-animation: fadein;
    animation: fadein;

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 30%;
}
.larger {
    font-size: x-large;
}
a, u {
    text-decoration: none;
}

.emph {
    color: #87CEFA;
}

.enter {
    fill: green;
}
.update {
    fill: maroon;
}
.exit {
    fill: steelblue;
}
a {
    color: #00B7FF;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
                }

                /* Internet Explorer */
                @-ms-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                        }

                        /* Opera < 12.1 */
                        @-o-keyframes fadein {
                            from { opacity: 0; }
                            to   { opacity: 1; }
                                }
