
body {
  padding: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.emph {
    color: #87CEFA;

}

.enter {
  fill: green;
}
.update {
  fill: maroon;
}
.exit {
  fill: steelblue;
}
a {
  color: #00B7FF;
}
